<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    this is our bean-->
    <bean name="student1" class="org.springcore.Student" p:studentName="Prabesh Bista"  p:id="20202" p:address="Tikapur,Kailali" />

    <bean name="student2" class="org.springcore.Student" p:studentName="Prabesh The Great!!" p:address="Imadole,Lalitpur" p:id="101" />


</beans>